body {
  font-family: Comic Sans MS;
  padding: 2px;
}

/* Header/Blog Title */
.header {
  padding: 5px;
  background: black;
  color:white;
}

/* Footer */
.footer {
  text-align: center;
  background: black;
  color:white;
  
}

.responsive {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}
	

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }


}



.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.mitem {
  float: left;
  text-align:center
}

.mitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.mitem a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.logo{
  width: 55px ;
  height: 55px ;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 2px;
}